<form role="form">
  <div class="tab-content">
    <div class="tab-pane fade in active" role="tabpanel" id="stepper-step-1">
      <h3 class="h2">1. Python</h3>
      <p>Do you like to work with?</p>
      <br>
        <div class="radio-buttons">
          <ul class="radio-buttons">
              <form>
                <input type="radio" name="choice" value="yes">Yes
                <input type="radio" name="choice" value="no">No<br>
              </form>

          </ul>
        </div>
        <br>
      <p>What is your level?</p>
      <br>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">None
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a href="#">Good</a></li>
              <li><a href="#">Intemidiate</a></li>
              <li><a href="#">Strong</a></li>
          </ul>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
        </div>
      <br>
        <ul class="list-inline pull-right">
        <li>
            <button type="button" class="btn btn-secondary">Skip</button>
        </li>
        <li>
          <a class="btn btn-primary next-step">Next</a>
        </li>

      </ul>
    </div>
  </div>
</form>
