<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="stepper">
        <ul class="nav nav-tabs" role="tablist">
            {% for stage_li in stages_in_sec %}

              {% if stage_li.fSection_id == section.id %}

                {% if stage_li == stage %}
                  <li role="presentation" class="active">
                    {% else %}
                  <li role="presentation" class="disabled">
                {% endif %}

                  <a href="{% url 'stage_page' id_sec=section.id id_stg=stage_li.id %}" data-toggle="tab" aria-controls="stepper-step-1" role="tab" title="{{ stage_li.title }}">


                    <span class="round-tab">{{ stage_li.title }}</span>

                  </a>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>
    {% block body %}
      <form role="form" action="" method="post">
        <div class="form-group">
          {% include 'questions.html' %}
            <ul class="list-inline pull-right">
              <li>
                <a href="{% url 'stage_page' id_sec=section.id id_stg=prev_stage.id %}"><button type="button" class="btn btn-primary">Previous</button></a>
              </li>
              <li>
                <a href="{% url 'stage_page' id_sec=section.id id_stg=next_stage.id %}"><input type="submit" value="Next" class="btn btn-primary"></a>
              </li>
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
          </ul>
        </div>
      </form>
      {% endblock %}
    </div>
  </div>
</div>
